.ip-tracker {
    font-family: Arial, sans-serif;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .header {
    background: url('/src/header.svg') no-repeat center center;
    color: white;
    padding: 46px;
  }
  
  .search-bar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .search-bar input {
 
    padding: 17px;
    width: 450px;
    border: none;
    border-radius: 12px 0 0 12px;
  }
  
  .search-bar button {
    
    padding: 10px 20px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 0 12px 12px 0;
  }
  
  .ip-info {
    position: relative;
    bottom: 55px;
    display: flex;
    justify-content: space-around;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    max-width: 78%;
    height: 22%;
    margin: 20px auto;
    width: calc(100% - 40px);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    z-index: 999;
  }
  
  .ip-info p {
    margin: 0;
    font-weight: bold;
  }
  
  .ip-info p span {
    display: block;
    font-weight: normal;
    color: gray;
  }
  
  
  .leaflet-container {
    position: fixed;
    bottom: 30px;

    height: 56%; 
    width: 100%;
    border-radius: 5px;
    
  }
  